<section ng-init="init(); activity();">
    <a href="/#!/albums"><h1>Photos</h1></a>
    <div class="row row-nav">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a class="btn btn-primary" href="/#!/activity">Activity</a>
            <a class="btn btn-default" href="/logout">Logout</a>
        </div>
    </div>
    <div class="row">
        <div data-ng-repeat="photo in photos track by $index" class="col-sm-6 col-md-4">
            <div class="image-box">
                <img style="max-width: 100%;" ng-src="{{photo.images[0].source}}"/>
                <div class="action">
                    <span>{{photo.created_time | date }}</span> {{photo.name || 'Unnamed'}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" ng-if="!photos.length">
            <span>Not found</span>
        </div>
    </div>
</section>